
    
                

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Create New</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
             
                        <!-- Modal body -->
                        <div class="modal-body " style="color:GrayText">
                            <div class="row">
                                <label hidden class="CustomerID">CustomerID</label>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">Cutomer Name</label>
                                        <input type="text" class="form-control" id="CustomerName" name="CustomerName" placeholder="Customer Name" Required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">Contact</label>
                                        <input type="text" class="form-control" id="CustomerConact" name="CustomerConact" placeholder="Contact" Required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">CNIC</label>
                                        <input type="text" class="form-control" id="CustomerCNIC" name="CustomerCNIC" placeholder="CNIC">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">Address</label>
                                        <input type="text" class="form-control" id="CustomerAddress" name="CustomerAddress" placeholder="Address">
                                    </div>
                                </div>



                                <div class="alert alert-success" role="alert" id="SuccessModalMessage" style="display:none">
                                    Successfully Assigned Card To Patron
                                </div>

                                <div class="alert alert-danger" role="alert" id="FailedModalMessage" style="display:none">
                                    Failed To Assign Card
                                </div>

                            </div>
                        </div>
                       
                         <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" data-dismiss="modal" class="btn btn-primary">Cancel</button>
                            <button type="button" id="_submit" data-url='@Url.Action("AddCustomerPartial", "ManageCustomer")' class="btn btn-success">Save</button>
                        </div>
                       
                
                
            


<div id="showSuccessMsgDiv" style="display:none">
</div>



@section Scripts {

  <script type="text/javascript">
      $(document).ready(function () {
            
          $("#_submit").click(function () {
              debugger;
              var url = $('._click').data('url');

              // var person = {}; // person.Name = $("#ToggleId1").val();
              $.ajax({
                  type: "GET",
                  url: url,
                  data: {},
                  datatype: "text/plain",
                  success: function (response) {
                      debugger;
                      console.log(response);
                      $("#myModalBodyDiv").html(response);
                      $("#myModal").show();

                      //   $("#showSuccessMsgDiv").show();
                  },
                  error: function (jqXHR, textStatus, error) {
                      if (jqXHR && jqXHR.status == 401) {
                      }
                  }
              });
          });

  
      });//ready
  
  </script>
}
