
@{
    ViewBag.Title = "ViewCustomer";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- DataTables -->
@section styles{
  <link href="~/Areas/Admin/Contents/AdminContent/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
  <link href="~/Areas/Admin/Contents/AdminContent/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
  <link href="~/Areas/Admin/Contents/AdminContent/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
  <link href="~/Areas/Admin/Contents/AdminContent/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-sm-12">
              
                    <div class="card box-shadow">
                        <div class="card-header">
                            <!--Start_Modal-->
                            @*<button type="button" class="btn-block">Open Modal</button>
                            <div class="-modal fade" id="myModal" data-url='@Url.Action("AddCustomerPartial","ManageCustomer")' role="dialog" > abccc</div>*@
                            
                            <button>
                                @{int NotificationID = 1; }
                                <a href="#" onclick="ShowDetails(@NotificationID)" data-toggle="modal" data-target="#myModal">
                                    See Group
                                </a>

                            </button>


                           
                               <!--End_Modal-->



                                <a class="btn btn-sm float-sm-right btn-success" onclick="location.href='@Url.Action("AddBoard", "Configuration")'">
                                    <i class="mdi mdi-plus"></i>  Add Board / University
                                </a>
                          

                        </div>
                        <div class="card-body">
                            <div class="col-md-12">
                                <table id="tbl" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                    <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <th>Board / University Name</th>
                                            <th>Short Name</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                                <tr>
                                                    <td>owNo</td>
                                                    <td>BoardName</td>
                                                    <td>ShortName</td>
                                             </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> 
            </div>
        </div>
    </div>
</div>
<!-- ./Panel Header-->

@section Scripts {

    <script src="~/Areas/Admin/Contents/AdminContent/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>



       <!-- Required datatable js -->
<script src="~/Areas/Admin/Contents/AdminContent/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/Areas/Admin/Contents/AdminContent/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<!-- Buttons examples -->
<script src="~/Areas/Admin/Contents/AdminContent/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/Areas/Admin/Contents/AdminContent/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="~/Areas/Admin/Contents/AdminContent/assets/libs/jszip/jszip.min.js"></script>
<script src="~/Areas/Admin/Contents/AdminContent/assets/libs/pdfmake/build/pdfmake.min.js"></script>
<script src="~/Areas/Admin/Contents/AdminContent/assets/libs/pdfmake/build/vfs_fonts.js"></script>
<script src="~/Areas/Admin/Contents/AdminContent/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="~/Areas/Admin/Contents/AdminContent/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="~/Areas/Admin/Contents/AdminContent/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>
<!-- Responsive examples -->
<script src="~/Areas/Admin/Contents/AdminContent/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/Areas/Admin/Contents/AdminContent/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
<script src="~/Areas/Admin/Contents/AdminContent/assets/js/bootbox.min.js"></script>

    <script type="text/javascript">

        function showdetail(NotificationID) {
            debugger;
            $('#modal-header').text(NotificationID)
            $('#txt-description').text('description')
            $('#txt-date').text('date');
            $('#txt-pubdate').text('pubdate');
            $('#notice-modal').modal('show');
        }
        $('#btn-update-close').click(function () {
            $('#notice-modal').modal('hide');
          })

      //  function ShowDetails(Group_ID, StudentName, ACGPA) {
      //      $('#myModalLabel').text(StudentName);
      //      $('#ACGPA').text(ACGPA);
      //      $.ajax({
      //          type: "post",
      //          url: "/MeritList/GetGroupDetails",
      //          data: { GroupID: Group_ID },
      //          datatype: "json",
      //          // traditional: true,
      //          success: function (data) {
      //              $("#tblBody").empty();
      //              $(data).each(function (index, item) {
      //                  var Studentname = item.Name;
      //                  var StudentregNo = item.StudentRegistrationNumber;
      //                  var studentCGPA = item.CGPA;
      //                  var markup = "<tr><td>" + StudentregNo + "</td><td>" + Studentname + "</td><td>" + studentCGPA + "</td></tr>";
      //                  $("#MyTbl tbody").append(markup);
      //              });
      //          }
      //      });
      //  }


    </script>
 
}
