
@section styles{
<link rel="stylesheet" href="~/ContentWebsite/css/calendar.css" type="text/css" />
<!-- NonProfit Demo Specific Stylesheet -->
<link rel="stylesheet" href="~/ContentWebsite/css/colors.php?color=C6C09C" type="text/css" /> <!-- Theme Color -->
<link rel="stylesheet" href="~/ContentWebsite/demos/nonprofit/css/fonts.css" type="text/css" />
<link rel="stylesheet" href="~/ContentWebsite/demos/nonprofit/nonprofit.css" type="text/css" />
   
}


<div class="section clearfix bg-transparent">
    <div class="container">
        <div class="heading-block border-bottom-0 center">
            <div class="before-heading">Some Of Gallery Pictures</div>
            <h2 class="nott font-weight-semibold mb-0">Gallery</h2>
        </div>
    </div>
    <div id="image-carousel" class="owl-carousel carousel-widget" data-margin="24" data-nav="true" data-pagi="true" data-items-xs="1" data-items-sm="1" data-items-md="1" data-items-lg="2" data-items-xl="2" style="padding: 0 20px" data-lightbox="gallery">
        <div class="slide slide--1">
            <div class="carousel-column-container">
                <ul class="carousel-column column-1">
                    <li class="carousel-grid-item">
                        <a href="~/ContentWebsite/demos/coworking/images/gallery/1.jpg" data-lightbox="gallery-item" class="item" style="background-image: url('/ContentWebsite/demos/coworking/images/gallery/1.jpg');"></a>
                    </li>
                    <li class="carousel-grid-item">
                        <a href="~/ContentWebsite/demos/coworking/images/gallery/2.jpg" data-lightbox="gallery-item" class="item" style="background-image: url('/ContentWebsite/demos/coworking/images/gallery/2.jpg');"></a>
                    </li>
                </ul>
                <ul class="carousel-column column-2">
                    <li class="carousel-grid-item">
                        <a href="~/ContentWebsite/demos/coworking/images/gallery/3.jpg" data-lightbox="gallery-item" class="item" style="background-image: url('/ContentWebsite/demos/coworking/images/gallery/3.jpg'); min-height: 300px"></a>
                    </li>
                    <li class="carousel-grid-item">
                        <a href="~/ContentWebsite/demos/coworking/images/gallery/4.jpg" data-lightbox="gallery-item" class="item" style="background-image: url('/ContentWebsite/demos/coworking/images/gallery/4.jpg'); min-height: 280px"></a>
                    </li>
                    <li class="carousel-grid-item">
                        <a href="~/ContentWebsite/demos/coworking/images/gallery/5.jpg" data-lightbox="gallery-item" class="item" style="background-image: url('/ContentWebsite/demos/coworking/images/gallery/5.jpg'); min-height: 200px"></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="slide slide--2">
            <div class="carousel-column-container">
                <ul class="carousel-column column-1">
                    <li class="carousel-grid-item">
                        <a href="~/ContentWebsite/demos/coworking/images/gallery/6.jpg" data-lightbox="gallery-item" class="item" style="background-image: url('/ContentWebsite/demos/coworking/images/gallery/6.jpg'); min-height: 324px"></a>
                    </li>
                    <li class="carousel-grid-item">
                        <div class="item bg-color d-flex align-items-center px-4" style="min-height: 480px">
                            <blockquote class="blockquote border-0 mb-0">
                                <p class="mb-3 text-white">"The Spirit of CoWorking Allows You to Find CoWorkers Who're Worth Working with."</p>
                                <footer class="blockquote-footer text-white-50 font-italic">Cynthia Chiam</footer>
                            </blockquote>
                        </div>
                    </li>
                </ul>
                <ul class="carousel-column column-2">
                    <li class="carousel-grid-item">
                        <a href="~/ContentWebsite/demos/coworking/images/gallery/8.jpg" data-lightbox="gallery-item" class="item" style="background-image: url('/ContentWebsite/demos/coworking/images/gallery/8.jpg');"></a>
                    </li>
                    <li class="carousel-grid-item">
                        <a href="~/ContentWebsite/demos/coworking/images/gallery/9.jpg" data-lightbox="gallery-item" class="item" style="background-image: url('/ContentWebsite/demos/coworking/images/gallery/9.jpg');"></a>
                    </li>
                    <li class="carousel-grid-item">
                        <a href="~/ContentWebsite/demos/coworking/images/gallery/10.jpg" data-lightbox="gallery-item" class="item" style="background-image: url('/ContentWebsite/demos/coworking/images/gallery/10.jpg');"></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="slide slide--3">
            <div class="carousel-column-container">
                <ul class="carousel-column column-1">
                    <li class="carousel-grid-item">
                        <a href="~/ContentWebsite/demos/coworking/images/gallery/11.jpg" data-lightbox="gallery-item" class="item bg-color d-flex align-items-center px-4 img-overlay" style="background-image: url('demos/coworking/images/gallery/11.jpg'); min-height: 350px">
                            <blockquote class="blockquote border-0 mb-0">
                                <p class="mb-3 text-white">"I Belive in Collaboration Rather Than Competition"</p>
                                <footer class="blockquote-footer text-white-50 font-italic">Cynthia Chiam</footer>
                            </blockquote>
                        </a>
                    </li>
                    <li class="carousel-grid-item">
                        <a href="~/ContentWebsite/demos/coworking/images/gallery/12.jpg" data-lightbox="gallery-item" class="item" style="background-image: url('/ContentWebsite/demos/coworking/images/gallery/12.jpg'); min-height: 453px"></a>
                    </li>
                </ul>
                <ul class="carousel-column column-2">
                    <li class="carousel-grid-item">
                        <a href="~/ContentWebsite/demos/coworking/images/gallery/13.jpg" data-lightbox="gallery-item" class="item" style="background-image: url('/ContentWebsite/demos/coworking/images/gallery/13.jpg');"></a>
                    </li>
                    <li class="carousel-grid-item">
                        <a href="~/ContentWebsite/demos/coworking/images/gallery/14.jpg" data-lightbox="gallery-item" class="item" style="background-image: url('/ContentWebsite/demos/coworking/images/gallery/14.jpg');"></a>
                    </li>
                    <li class="carousel-grid-item">
                        <a href="~/ContentWebsite/demos/coworking/images/gallery/15.jpg" data-lightbox="gallery-item" class="item" style="background-image: url('/ContentWebsite/demos/coworking/images/gallery/15.jpg');"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>







@section scripts{
<!-- JavaScripts
============================================= -->
<script src="https://maps.google.com/maps/api/js?key=YOUR-API-KEY"></script>
<!-- For Countdown -->
<script src="~/ContentWebsite/js/components/moment.js"></script>
   
}
