<!-- Footer Slider
        ============================================= -->
        <div class="section lazy mt-5 mb-0 p-0 min-vh-60"  data-bg="https://source.unsplash.com/wKC1P8oG_v4/1920x1080" style="background-position: center center; background-repeat: no-repeat; background-size: cover; border:solid;">
            <div class="shape-divider" data-shape="cliff" data-height="150" data-flip-vertical="true"></div>
        </div>
   

