// 
// _card.scss
// 

.card {
  margin-bottom: $grid-gutter-width;
  box-shadow: $box-shadow;
}

.card-drop {
  color: $body-color;
}

.card-title {
  font-size: 16px;
}

.card-title-desc {
  color: $card-title-desc;
  margin-bottom: 24px;  
}

.card-header {
    background-color: $card-header-color !important;
    color: #fff;
    padding: .35rem 1rem;
}
.card h4 {
    font-size: 1rem;
    line-height: 1.7rem;
    font-weight: 500;
}
.card-footer {
    padding: .35rem 1rem !important;
}