
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                ©
                <script>document.write(new Date().getFullYear())</script><span> Developers. All rights reserved.</span>
            </div>
        </div>
    </div>
</footer>
