﻿.messagebox {
    position: fixed !important;
    right: 0px !important;
    top: 0 !important;
    z-index: 1050 !important;
    margin-top: 15px;
}
.roomchart-border {
    border: 1px solid $roomchart-border-color;
}
.checkbox-custom {
    border: 1px solid #ced4da;
    border-radius: 3px;
    margin-top: 33px;
    padding-left: 10px;
}
.modal-header {
    color: #fff !important;
    background-color: #337ab7 !important;
    padding: .35rem 1rem;
}
.modal-header h5 {
    font-size: 1rem;
    line-height: 1.7rem;
    font-weight: 500;
}
.modal-content {
     border: none !important;
}
.modal-footer {
    background: $gray-200 !important;
    padding: .25rem !important;
}
.model-date {position:absolute; left:15px}

.w-27 {
    width: 27% !important;
}